* {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  box-sizing: border-box;
}

body {
  /* min-width: 1440px; */
}

.header {
  padding: 15px 0;
  background-color: #ffffff;
}

.header__wrapper {
  max-width: 1328px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #404252;
}

.header__contacts {
  display: flex;
  align-items: center;
}

.header__contact:not(:last-child) {
  margin-right: 88px;
}

.header__contact-title {
  /* font-family: 'Museo Sans Cyrl'; */
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #404252;
}

.header__phone__item:not(:last-child) {
  margin-right: 28px;
}

.header__phone__item {
  display: none;
  /* padding-left: 39%; */
}

.header__subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #9CA0A6;
}

.header__contact-subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #9CA0A6;
}

/* header */

.nav {
  /* padding: 15px 0; */
  background: #F5F7FA;
}

.nav__wrapper {
  max-width: 1328px;
  /* height: 52px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav__items {
  display: flex;
}

.nav__item {
  /* font-family: 'Museo Sans Cyrl'; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #404252;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.nav__item:hover {
  color: #C92B18;
  border-bottom: 2px #C92B18 solid;
  cursor: pointer;
  padding-bottom: 0px;
  transition: 0.5s;
}

.nav__favorite {
  display: flex;
  align-items: center;
}

.nav__favorite-text {
  /* font-family: 'Museo Sans Cyrl'; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  color: #404252;
  margin-left: 14px;
}

/* nav */

.main__slider {
  /* background: #020204; */
  /* background: red; */
  max-width: 1328px;
  height: 520px;
  margin: 0 auto;
  position: relative;
}

.main__slider__block {
  background-image: url(./img/slider.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: 270px 135px;
  padding-top: 85px;
  /* display: flex;
  justify-content: flex-start; */
}

.main__slider__block__title {
  width: 466px;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  color: #FFFFFF;
  margin-left: 114px;
}

.main__slider__block li {
  display: flex;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 230%;
  /* or 37px */
  color: #FFFFFF;
  margin-left: 114px;
}

.main__slider__block li p {
  margin-left: 21px;
}

.swiper {
  /* border: 1px dashed red;  */
  /* min-height: 400px;
  min-width: 800px; */
  width: 100%;
  height: 100%;
  background-color: black;
  /* position: relative; */
}

.swiper-pagination {
  width: 25px !important;
  height: 40px !important;
  top: calc(50% - 20px) !important;
}

.custom_point {
  /* background-color: red !important; */
  width: 6px !important;
  height: 6px !important;
  background: #FFFFFF !important;
}

.swiper-pagination-bullet-active {
  width: 6px !important;
  height: 20px !important;
  background: #C92B18 !important;
  border-radius: 10px !important;
  margin-bottom: -6px !important;
}

.swiper-pagination-bullet {
  display: inline-block;
  border-radius: 50%;
  opacity: 1 !important;
}

.main__sellectors {
  max-width: 1102px;
  padding: 20px 24px 30px 24px;
  background: #FFFFFF; 
  box-shadow: 0px 4px 22px rgba(11, 11, 11, 0.04);
  border-radius: 8px;
  margin: 0 auto;
  margin-top: -50px;
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.main__sellectors__block {
  margin-right: 12px;
  width: 202px;
}

.main__sellectors__block p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 128%;
  /* identical to box height, or 18px */
  color: #404252;  
  margin-bottom: 10px;
}

.main__sellectors__block__bottom {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main__selectors__search {
  display: flex;
  align-items: center;
}

.main__selectors__search div {
  background: #C92B18;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small__blocks {
  background: linear-gradient(136.81deg, #CA4435 9.74%, #A872D7 85.22%), #D9D9D9;
  border-radius: 10px;
  /* padding-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 18px; */
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__selectors__search p {
  margin-right: 24px;
}

.nice-select {
  width: 100% !important;
  height: 48px !important;
  box-shadow: none !important;
  background-color: white !important;
  -webkit-box-shadow: none;
  /* -webkit-appearance:none; */
  -moz-appearance:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  display: flex !important;
  align-items: center !important;
}

.nice-select-small {
  width: 99px !important;
  padding-left: 8px !important;
  /* margin-right: 12px; */
  padding-right: 0px !important;
}

/* - */

.main__buy {
  margin-top: 64px;
}

.main__buy__title {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #404252;
  text-align: center;
}

.main__buy__marks__mark__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__buy__marks {
  max-width: 1328px;
  margin: 32px auto;
  /* gap: 40px; */
  flex-wrap: wrap;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 96px;
  grid-gap: 12px 21px; 
}

@media screen and (max-width: 1260px) {
  .main__buy__marks { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; } 
}

@media screen and (max-width: 978px) {
  .main__buy__marks {  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; } 
}

@media screen and (max-width: 714px) {
  .main__buy__marks {  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; } 
}

@media screen and (max-width: 600px) {
  .main__buy__marks { grid-template-columns: 1fr 1fr 1fr 1fr; } 
}
@media screen and (max-width: 480px) {
  .main__buy__marks { grid-template-columns: 1fr 1fr 1fr; } 
}

@media screen and (max-width: 320px) {
  .main__buy__marks { grid-template-columns: 1fr 1fr; }
}

.main__buy__marks__mark {
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #BCBCBC;
  /* shadow */
  box-shadow: 0px 4px 12px rgba(187, 187, 187, 0.15);
  border-radius: 10px;
  width: 96px;
  height: 108px;
  padding-top: 20px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__buy__marks__mark img {
  padding-bottom: 17px;
}

.main__buy__marks__mark__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #272727;
  padding-bottom: 6px;
}

.main__buy__marks__mark__count {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #C92B18;
  padding-bottom: 8px;
}

.main__buy__buttons {
  max-width: 1328px;
  margin: 47px auto;
  display: flex;
  justify-content: space-between;
}

.main__buy__buttons__button {
  background: #FFFFFF;
  border: 2px solid #404252;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 25%;
  padding: 22px 0;
}

.main__buy__buttons__button p {
  text-align: center;
}

.main__buy__buttons__button svg {
  text-align: center;
  margin-right: 14px;
}

.main__buy__buttons__button:not(:last-child) {
  margin-right: 24px;
}

.main__buy__buttons__button:hover {
  border: 2px solid #C92B18;
  color: #C92B18;
  fill: #C92B18;
  stroke: #C92B18;
  cursor: pointer;
  transition: 0.5s;
}

.main__buy__selection {
  margin-top: 64px;
  max-width: 1328px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.main__buy__selection__text {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 49px;
  /* identical to box height, or 154% */
  letter-spacing: 0.02em;
  color: #404252;
}

.main__buy__selection__text__span {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 49px;
  /* identical to box height, or 154% */
  letter-spacing: 0.02em;
  color: #C92B18;
}

.main__buy__selection__filter {
  display: flex;
  margin-top: 32px;
}

.main__buy__selection__filter__btn {
  background: #F5F7FA;
  border: 1px solid #404252;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #404252;
}

.main__buy__selection__filter__btn__selected {
  border: 1px solid #C92B18;
  color: #C92B18;
}

.main__buy__selection__filter__btn:hover {
  border: 1px solid #C92B18;
  color: #C92B18;
  cursor: pointer;
  transition: 0.5s;
}

.main__buy__selection__filter__btn:not(:last-child) {
  margin-right: 12px;
}

.main__buy__selection__cards {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}

.main__buy__selection__cards__card {
  width: 314px;
  position: relative;
}

/* .main__buy__selection__cards__card:not(:last-child) {
  margin-right: 24px;
} */

.main__buy__selection__cards__card:hover .main__buy__selection__cards__card__overlay__leftbtn {
  opacity: 1;
  transition: 0.5s;
}

.main__buy__selection__cards__card:hover .main__buy__selection__cards__card__overlay__rightbtn {
  opacity: 1;
  transition: 0.5s;
}


.main__buy__selection__cards__card__name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 49px;
  /* or 309% */
  /* display: flex; */
  /* align-items: center; */
  letter-spacing: 0.02em;
  color: #404252;
}

.main__buy__selection__cards__card__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #9CA0A6;
}

.main__buy__selection__cards__card__prices {
  display: flex;
  margin-top: 12px;
}

.main__buy__selection__cards__card__price {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  color: #C92B18;
}

.main__buy__selection__cards__card__sale {
  margin-left: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  text-decoration-line: line-through;
  color: #9CA0A6;
}

.main__buy__selection__cards__card__redbtn {
  background: #C92B18;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 14.5px 0;
  margin-top: 26px;
  cursor: pointer;
}

.main__buy__selection__cards__card__redbtn p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;
  margin-left: 14px;
}

.main__buy__selection__cards__card__whitebtn {
  background: #FFFFFF;
  border: 2px solid #404252;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  padding: 14px 0;
  cursor: pointer;
}


.main__buy__selection__cards__card__whitebtn p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #404252;
}

.main__buy__selection__cards__card__overlay__leftbtn {
  width: 138px;
  /* background: linear-gradient(136.81deg, #CA4435 9.74%, #A872D7 85.22%); */
  /* border: 2px solid; */
  border-image-slice: 1;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 6px 0;
  position: absolute;
  border: solid 2px transparent; 
  top: 12px;
  left: 12px;
  opacity: 0;
  background: linear-gradient(136.81deg, #CA4435 9.74%, #A872D7 85.22%);
  cursor: pointer;
  background-clip: padding-box; 
  z-index: 999;
  border-radius: 8px !important;
}


.main__buy__selection__cards__card__overlay__leftbtn::before {
  content: '';
  position: absolute;
  top: 0; 
  right: 1px;
  bottom: 0;
  left: 1px;
  z-index: -99;
  margin: 2px;
  border-radius: 4px !important;
  border-radius: inherit;
  background-color: white;
}

.main__buy__selection__cards__card__overlay__leftbtn p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #404252;
}

.main__buy__selection__cards__card__overlay__rightbtn {
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 8px;
  position: absolute;
  top: 12px;
  right: 12px;
  opacity: 0;
  cursor: pointer;
}

/* - */

.main__credit__cal {
  background-color: #F5F7FA;
}

.main__cal__block {
  max-width: 1328px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main__cal__credit {
  padding-top: 32px;
  padding-bottom: 38px;
  margin-right: 85px;
  width: 652px;
}

.main__cal__credit__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  letter-spacing: 0.02em;
  color: #404252;
}

.main__cal__credit__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  color: #6E7277;
  margin-top: 16px;
}

.main__cal__credit__overtext {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 128%;
  /* identical to box height, or 18px */
  color: #404252;
  margin-top: 34px;
  margin-bottom: 17px;
}

.main__cal__credit__amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__credit__cal__block__left__futurecar__input {
  width: 126px ;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 128%;
  color: #404252;
}

.main__credit__cal__block__left__futurecar__input__father {
  display: flex;
  align-items: center;
  width: 142px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #DAD3D3;
  border-radius: 4px;
  outline: none;
  padding: 0 16px;
  border: none;
}

.main__credit__cal__block__left__futurecar__input__second {
  width: 142px ;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 128%;
  color: #404252;
}

#range-slider {
  margin-top: 11px;
  border: none;
  background: #BCBCBC;
  height: 2px;
}

#range-slider-2 {
  margin-top: 11px;
  border: none;
  background: #BCBCBC;
  height: 2px;
  width: 316px;
}

#range-slider-3 {
  margin-top: 11px;
  border: none;
  background: #BCBCBC;
  height: 2px;
  width: 292px;
}

.noUi-connect {
  background-color: #C92B18 !important;
}

.noUi-handle {
  box-shadow: none;
  width: 22px;
  height: 22px;
  border-radius: 100%;
}

.noUi-horizontal .noUi-handle {
  box-shadow: none !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 100% !important;
  right: -5px !important;
  top: -4px !important;
  margin: 0;
  padding: 5px;
  border: none;
  background-color: #C92B18;
}

.noUi-horizontal .noUi-handle:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #C92B18;
  top: 12px;
  left: -3px;
  background: 0 0;
  cursor: grab;
}

.noUi-horizontal .noUi-handle:after {
  content: "";
  top: 16px;
  left: -5px;
  width: 10px;
  height: 10px;
  border: 5px solid #C92B18;
  border-radius: 50%;
  cursor: grab;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.main__cal__credit__sliders {
  display: flex;
  justify-content: space-between;
}

.main__cal__credit__contribution__data {
  display: flex;
  align-items: center;
}

.main__cal__credit__sliders__overtext {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 128%;
  color: #404252;
  margin-top: 45px;
  margin-bottom: 17px;
}

.main__credit__cal__block__left__vsnos__left__child__texxt__one { 
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 128%;
  /* identical to box height, or 31px */
  color: #404252;
  margin-right: 18px;
  width: 125px;
}

.main__credit__cal__block__left__vsnos__left__texxt__two {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 128%;
  /* identical to box height, or 31px */
  color: #404252;
  margin-right: 18px;
  width: 100px;
}

.main__cal__credit__sum {
  background: #FFFFFF;
  border: 2px solid #C92B18;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  margin-top: 38px;
}

.main__cal__credit__sum__first__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 128%;
  /* identical to box height, or 18px */
  color: #404252;
  padding-left: 14px;
  white-space: nowrap;
}


.main__cal__credit__sum__your__payment {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 128%;
  /* identical to box height, or 31px */
  color: #C92B18;
  margin-left: 8px;
  margin-right: 32px;
  /* width: 208px; */
  white-space: nowrap;
}

.main__cal__credit__sum__third__text {
  width: 249px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */
  color: #6E7277;
}


.main__cal__bid {
  background: #C92B18;
  padding: 32px 53px 136px 32px;
  width: 572px;
}

.main__cal__bid__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.main__cal__bid__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  color: #E7EBF0;
  margin-top: 16px;
  width: 344px;
}

.main__cal__bid__form {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 16px;
}

/* main__cal__bid__form -> main__cal__bid__form */

.main__cal__bid__form p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 128%;
  /* identical to box height, or 18px */
  color: #FFFFFF;
}

.main__cal__bid__name {
  width: 100%;
}

.main__cal__bid__name__input {
  background: #FFFFFF;
  border: 1px solid #C92B18;
  /* Drop Shadow */
  box-shadow: 0px 4px 22px rgba(11, 11, 11, 0.04);
  border-radius: 4px;
  padding: 15px;
  outline: none;
  margin-top: 10px;
  width: 100%;
}


.main__cal__bid__contact {
  width: 100%;
}

.main__cal__bid__contact__input {
  background: #FFFFFF;
  border: 1px solid #C92B18;
  /* Drop Shadow */
  box-shadow: 0px 4px 22px rgba(11, 11, 11, 0.04);
  border-radius: 4px;
  padding: 15px;
  outline: none;
  margin-top: 10px;
  width: 100%;
}

.main__cal__bid__contact__send {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 15px 0 14px 0;
  margin-top: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #C92B18;
  cursor: pointer;
}

.main__cal__bid__contact__bottomtext {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */
  color: #E7EBF0;
  margin-top: 12px;
  width: 500px;
}

/* - */

.main__map {
  background-color: #FFFFFF;
  margin-top: 64px;
}

.main__map__block {
  max-width: 1328px;
  margin: 0 auto;
}

.main__map__texts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main__map__texts__left {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 49px;
  /* identical to box height, or 154% */
  letter-spacing: 0.02em;
  color: #404252;
}

.main__map__texts__right {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: #C92B18;
}

.main__map__main {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.main__map__main__adres {
  /* width: 450px; */
  width: 125%;
  background-color: #FFFFFF;
  padding: 16px 0 13px 20px;
}

.main__map__main__adres__selected {
  background: #F5F7FA;
}

.main__map__main__adres:hover {
  background: #F5F7FA;
  cursor: pointer;
  transition: 0.5s;
}

.main__map__main__adres__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #404252;
}

.main__map__main__adres__description {
  width: 342px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #404252;
  margin-top: 12px;
}

.main__map__main__adres__time {
  /* width: 342px; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #404252;
  margin-top: 10px;
}

.main__map__main__adres__number {
  /* width: 342px; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #404252;
  margin-top: 10px;
}

.main__map__main__adres__span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #C92B18;  
}

.main__advantage {
  background-color: #FFFFFF;
}

.main__advantage__block {
  max-width: 1328px;
  margin: 64px auto;
}

.main__advantage__block__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #404252;
  margin-bottom: 33px;
  text-align: center;
}

.main__advantage__advanteges {
  display: flex;
  justify-content: space-between;
}

.main__advantage__advanteges__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__advantage__advanteges__block__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #404252;
  margin-top: 22px;
  width: 275px;
}

.main__advantage__advanteges__block__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  
  text-align: center;
  
  color: #9CA0A6;
  margin-top: 16px;
  width: 344px;
}


.footer {
  background: #404252;
  margin-top: 71px;
}

.footer__block {
  max-width: 1328px;
  margin: 0 auto;
  padding: 30px 0;
}

.footer__block__header {
  display: flex;
  justify-content: space-between;
}

.footer__block__header__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.footer__block__header__undertext {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #9CA0A6;
}

.footer__block__header__adreses {
  display: flex;
  /* justify-content: space-between; */
}

.footer__block__header__adres:not(:last-child) {
  margin-right: 133px;
}

.footer__block__header__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
}

.footer__block__header__undertext {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #9CA0A6;
}

.footer__block__nav {
  display: flex;
  margin-top: 23px;
  margin-bottom: 46px;
}

.footer__block__nav__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer__block__nav__item:not(:last-child) {
  margin-right: 20px;
}


.footer__block__text__one {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #A8ACB0 !important;
  text-decoration: none !important;
}

.footer__block__text__two {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #A8ACB0 !important;
  margin-top: 15px;
  text-decoration: none !important;
}

.footer__block__text__three {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #A8ACB0 !important;
  margin-top: 15px;
  text-decoration: none !important;
}

.footer__block__text__four {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #A8ACB0 !important;
  margin-top: 15px;
  text-decoration: none !important;
}

.footer__block__text__five {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #A8ACB0 !important;
  margin-top: 15px;
  text-decoration: none !important;
}

.footer__block__text__six {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #A8ACB0 !important;
  margin-top: 15px;
  text-decoration: none !important;
}

.main__map__main__right {
  width: 878px;
  height: 485px;
}

.main__map__main__left__block__selected {
  background-color: #F5F7FA;
}

.burger__menu__close {
  display: none;
}

.burger__menu__open {
  display: block;
}

.burger__menu__block {
  max-width: 1328px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.burger__menu__block ul {
  list-style: none;
}

.burger__menu__block li {
  display: block;
  padding: 20px 15px;
  font-size: 16px;
  line-height: 1;
  color: var(--base-font-color);
  transition: .25s ease-out;
  cursor: pointer;
}

/* #burger {
  display: none;
}

#burger:checked ~ .burger__menu {
  display: block;
}

#burger:not(:checked) ~ .burger__menu {
  display: none;
} */

@media screen and (max-width: 1324px) {
  .header {
    padding: 0 15px;
  }

  .nav {
    padding: 0 15px;
  }

  .main {
    padding: 0 15px;
  }

  .main__buy__selection__cards {
    flex-wrap: wrap;
  }  

  .footer {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1300px) {
  .main__slider__block {
    background-position: 70px 135px;
  }  
}

@media screen and (max-width: 1241px) {
  .main__cal__bid {
    width: 500px;
  }  

  .main__cal__bid__contact__bottomtext {
    width: 100%;
  }
}

@media screen and (max-width: 1171px) {
  .main__slider__block {
    background-position: 70px 135px;
  }  
}

@media screen and (max-width: 1097px) {
  .main__cal__credit {
    margin-right: 10px;
  }

  .main__advantage__advanteges__block__description {
    width: 95%;
  }
}

@media screen and (max-width: 1024px){
  .header {
    padding: 15px 15px;
  }
  .header__contact:not(:last-child) {
    margin-right: 30px;
  }

  .header__contact-title {
    font-size: 19px;
  }

  .header__contact-subtext {
    font-size: 13px;
  }

  .nav {
    padding: 0 15px;
  }

  .nav__item {
    font-size: 16px;
  }

  .nav__block__right__text {
    font-size: 16px;
  }

  .main__slider__block {
    background-position: 70px 210px !important;
    padding-top: 85px;
    background-size: 101%;
  }

  .main__slider__block .main__slider__block__title {
    width: 393px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 60px;
    color: #FFFFFF;
    margin-left: 114px;
  }

  .main__slider__block li {
    font-size: 15px;
  }

  .main__sellectors {
    flex-wrap: wrap;
  }

  .main__sellectors__block__big {
    width: calc(50% - 5px);
    margin-right: 5px;
    margin-bottom: 10px !important;
  }

  .main__sellectors__block__small {
    width: 100% !important;
  }

  .main__sellectors__block {
    width: 100%;
    margin-right: 5px;
    margin-bottom: 10px !important;
  }

  .main__buy__selection {
    padding: 0 15px;
  }

  .main__buy__selection__cards {
    flex-wrap: wrap !important;
    justify-content: space-between !important;
  }

  .main__buy__selection__cards__card  {
    width: 280px;
  }

  .main__buy__selection__cards__card__img{
    width: 280px;
  }

  .main__cal__block {
    padding: 0 15px;
  }

  .main__cal__credit {
    width: 50%;
    margin-right: 0;
    padding-right: 15px;
  }

  .main__cal__credit__contribution__data {
    display: flex;
    justify-content: space-between;
  }

  .main__cal__bid {
    width: 50%;
    padding: 32px 14px 136px 14px;
  }

  .main__cal__bid__contact__bottomtext {
    width: 100%;
  }

  .main__cal__bid__form {
    flex-wrap: wrap;
  }

  .main__cal__credit__sliders {
    flex-wrap: wrap;
  }

  .main__cal__credit__contribution {
    width: 100%;
  }

  .main__map {
    padding: 0 15px;
  }

  .main__advantage {
    padding: 0 15px;
  }

  .main__advantage__advanteges__block__description {
    width: 95%;
  }

  .footer {
    padding: 0 15px;
  }

  .footer__block__header__adres:not(:last-child) {
    margin-right: 53px;
  }

  .main__cal__credit__sum__third__text {
    width: 100%;
  }


}

@media screen and (max-width: 945px) {
  .main__cal__credit__sum {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .main__cal__credit__sum__third__text {
    padding-left: 14px;
  }

  /* main__cal__credit__sum__third__text */

  .nav__item {
    font-size: 14px;
  }

  .nav__favorite-text {
    font: 14px;
  }
}

@media screen and (max-width: 900px) {
  .header__contact {
    display: none;
  }

  .header__phone__item {
    display: block;
    padding-left: 7%;
  }

  .nav {
    display: none;
  }

  .main__slider__block {
    background-position: 100px 240px !important;
  }

  /* .burger__menu {
    display: block;
  } */
}

@media screen and (max-width: 840px) {
  .main__advantage__advanteges{ 
    flex-direction: column;
    align-items: center;
  }

  .main__advantage__advanteges__block {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 800px) {
  .main__buy__buttons {
    flex-wrap: wrap;
  }

  .main__buy__buttons__button {
    width: calc(50% - 24px);
  }

  .main__buy__buttons__button:not(:last-child) {
    margin-right: 0;
  }

  .main__buy__selection__cards {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main__buy__buttons__button {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .main__slider__block {
    background-position: 110px 275px !important;
  }

  .main__slider__block__title {
    font-size: 30px;
  }

  .main__buy__buttons {
    flex-wrap: wrap;
  }

  .main__buy__buttons__button {
    width: calc(50% - 24px);
    margin-top: 20px;
  }

  .main__buy__buttons__button:not(:last-child) {
    margin-right: 0;
  }

  .main__buy__selection__cards {
    justify-content: space-between;
  }

  .main__cal__credit__sum {
    flex-wrap: wrap;
  }

  .main__cal__credit__sum__third__text {
    width: 287px;
  }

  .main__cal__bid__contact__bottomtext {
    width: 350px;
  }

  .main__map__main {
    flex-wrap: wrap;
  }

  .main__map__main__left {
    width: 80%;
  }

  .main__advantage__advanteges__block__title {
    width: 249px;
  }

  .footer__block__header__right {
    display: none;
  }

  .footer__block__nav {
    flex-direction: column;
  }

  .footer__block__nav__item {
    margin-bottom: 10px;
  }

  .main__cal__bid__description {
    width: 100%;
  }

  .main__cal__bid__contact__bottomtext {
    width: 100%;
  }

  .main__map__main__adres {
    width: 100%;
    padding-right: 120px;
  }

  .main__map__main__adres__description {
    width: 100%;
  }

  .main__buy__title {
    font-size: 38px;
  }

  .footer__block__header__adreses {
    display: none;
  }

}

@media screen and (max-width: 712px) {
  .main__buy__selection__cards {
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    flex-wrap: wrap;
  }  

  .main__cal__bid__title {
    font-size: 29px;
  }
}

@media screen and (max-width: 643px) {
  .main__buy__selection__filter {
    flex-wrap: wrap;
  } 
  
  .main__buy__selection__filter__btn {
    margin-top: 10px;
  }

  .main__slider__block {
    background-position: 33px 306px !important
  }

  .main__buy__selection__cards__card {
    width: 260px;
  }

  .main__buy__selection__cards__card__img {
    width: 260px;
  }

  .main__map__main__adres {
    padding-right: 0px;
  }
}

@media screen and (max-width: 630px) {
  .main__cal__block {
    flex-wrap: wrap;
  }  

  .main__cal__credit {
    width: 100%;
    padding-right: 0;
  }

  .main__cal__bid {
    width: 100%;
  }

  .main__buy__selection__cards__card {
    width: 240px;
  }

  .main__buy__selection__cards__card__img {
    width: 240px;
  }

  .main__cal__credit__sum {
    flex-wrap:nowrap;
  }

}

@media screen and (max-width: 564px) {
  .main__buy__selection__cards__card {
    width: 220px;
  }

  .main__buy__selection__cards__card__img {
    width: 220px;
  }  

  .main__buy__selection__cards__card__price {
    white-space: nowrap;
  }

  .main__buy__selection__cards__card__sale {
    white-space: nowrap;
  }
}

@media screen and (max-width: 523px) {
  .main__buy__selection__cards__card {
    width: 100%;
  }  

  .main__buy__selection__cards__card__img {
    width: 100%;
  }

  .main__cal__credit__sum {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .main__slider__block__title {
    margin-left: 58px !important;
  }  

  .main__slider__block {
    background-position: 16px 344px !important;
  }

  .main__slider__block li {
    margin-left: 58px;
  }
}

@media screen and (max-width: 460px) {
  .main__buy__buttons {
    flex-direction: column;
    align-items: center;
  }  

  .main__buy__buttons__button {
    width: 100%;
  }

  .main__slider__block {
    background-position: 5px 356px !important;
  }

  .main__slider__block__title {
    width: 393px !important;
    font-size: 30px !important;
    line-height: 50px !important;
  }

  .main__map__texts__left {
    font-size: 25px;
    line-height: 35px;
  }

}

@media screen and (max-width: 425px) {
  
  .main__slider__block {
    background-position: -20px 350px !important;
    background-size: 115%;
  }

  .main__slider__block__title {
    width: 300px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 23px !important;
    line-height: 31px !important;
    color: #FFFFFF !important;
  }

  .main__slider__block li {
    font-size: 18px;
    margin-top: 20px;
  }

  .main__buy__selection__cards__card {
    width: 100%;
  }

  .main__buy__selection__cards__card img {
    width: 100%;
  }

  .main__buy__selection__filter {
    flex-wrap: wrap;
  }

  .main__credit__cal__block {
    flex-wrap: wrap;
  }

  .main__cal__credit {
    width: 100%;
  }

  .main__cal__bid {
    width: 100%;
  }

  .main__advantage__advanteges {
    flex-wrap: wrap;
  }
  
  .main__advantage__advanteges__block {
    margin-bottom: 20px;
  }

  .main__map__texts {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main__advantage__block__title {
    font-size: 25px;
  }

  .main__buy__title {
    font-size: 30px;
  }

}

@media screen and (max-width: 375px) {
  .main__slider__block__title {
    width: 250px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: #FFFFFF !important;
    margin-left: 79px !important;
  }  

  .main__slider__block li {
    font-size: 16px;
    margin-left: 77px;
    margin-top: 8px;
  }

  .main__slider__block {
    background-position: -30px 356px !important;
    background-size: 125%;
}

.main__buy__buttons__button {
  /* width: calc(50% - 5px); */
  width: 100%;
  margin-top: 20px;
}

.main__cal__bid__contact__bottomtext {
  width: 100%;
}

.main__map__texts__left {
  line-height: 35px;
  font-size: 25px;
}

.main__cal__bid__description {
  width: 100%;
}

.main__cal__bid__title {
  font-size: 25px;
}

.main__map__main__adres__description {
  font-size: 16px;
}

.main__slider__block__title {
  margin-left: 55px !important;
}

.main__slider__block li {
  font-size: 16px;
  margin-left: 55px;
  margin-top: 8px;
}

}

@media screen and (max-width: 360px){
  .main__buy__marks {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 320px) {
  .header__wrapper-title {
    font-size: 16px;
  }

  .header__block__subtext {
    font-size: 10px;
  }

  .main__buy__buttons__button {
    display: flex;
    align-items: center;
    padding-left: 5px;
  }

  .main__cal__bid__description {
    width: 100%;
  }

  .main__cal__bid__contact__bottomtext {
    width: 100%;
  }

  .main__cal__bid__title {
    font-size: 29px;
  }

  .header__phone__item:not(:last-child) {
    margin-right: 15px;
  }

  .main__slider__block__title {
    font-size: 18px !important;
    line-height: 28px !important;
    color: #FFFFFF !important;
    margin-left: 55px !important;
  }

  .main__slider__block li {
    font-size: 14px;
    margin-left: 56px;
    margin-top: 8px;
  }

  .main__slider__block {
    background-position: -65px 356px !important;
    background-size: 150%;
  }

  .main__cal__bid__title {
    font-size: 26px;
  }

  /* .main__map__main__left__block__adress {
    width: 288px;
  } */

  .header__phone__item {
    padding-left: 5%;
  }

}